* {
  padding: 0;
  margin: 0;
}

:root {
  --logo-web-button-color: #4d5ae5;
  --button-color: #404bbf;
  --text-color: #2e2f42;
  --contacts-color: #434455;
  --footer-text-color: #f4f4fd;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --white-color: #ffffff;
}

body {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(46, 47, 66, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0px;
  padding: 0px;
}

button {
  margin: 0px;
}

.list {
  list-style: none;
  display: flex;

  gap: 24px;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: end;
  margin-top: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  flex-direction: column;
}

.modal-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-colour 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container .modal-icon:hover,
.modal-container .modal-icon:focus {
  background-color: var(--button-color);
  border: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-icon .modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--text-color);
}

.modal-icon:hover .modal-icon-close,
.modal-icon:focus .modal-icon-close {
  fill: var(--white-color);
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.modal-form-div {
  margin-bottom: 8px;
}

.name-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.label-div {
  position: relative;
}

.input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 38px;
  outline: rgba(0, 0, 0, 0);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-div .input-name:focus {
  border-color: var(--logo-web-button-color);
}

.modal-name-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus + .modal-name-svg {
  fill: var(--logo-web-button-color);
}

.comment-div {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 16px;
  outline: rgba(0, 0, 0, 0);
  resize: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-div .textarea-comment:focus {
  border-color: var(--logo-web-button-color);
}

.checkbox-div {
  margin-bottom: 24px;
}

.checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-colour 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: rgba(0, 0, 0, 0);
}

.modal-button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--logo-web-button-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 90px;
}

.checkbox-link {
  color: var(--logo-web-button-color);
}

#user-privacy:checked + .checkbox-label .checkbox-span {
  border: none;
  background-color: var(--button-color);
  fill: var(--footer-text-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-button-color);
  margin-right: 76px;
}

.logo-span {
  color: var(--text-color);
}

.link {
  text-decoration: none;
}

.nav-list {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--button-color);
}

.nav-list-active {
  color: var(--button-color);
}

.nav-list-active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  height: 4px;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
}

.list-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contact:hover,
.list-contact:focus {
  color: var(--button-color);
}

.header .contact {
  font-style: normal;
}

.first-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 600px;
}

.first-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.first-section-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.first-section-button {
  display: block;
  background-color: var(--logo-web-button-color);
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-div .first-section-button:hover,
.first-section-div .first-section-button:focus {
  background-color: var(--button-color);
}

.first-section-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.first-section-list {
  display: flex;
  margin: auto;
  gap: 40px;
  justify-content: end;
}

.title-section-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 72px;
}

.second-section-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

.second-section {
  padding: 120px 0;
}

.second-section .container {
  display: flex;
  justify-content: center;
}

.second-section .list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
  margin: 0 16px;
}

.second-section .second-section-list-item {
  width: 396px;
}

.second-section-icon {
  background-color: var(--footer-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.paragraph {
  color: var(--contacts-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third-section {
  padding-bottom: 120px;
  display: none;
}

.third-section .second-section-list-item {
  width: calc((100% - 48px) / 3);
}

.fourth-section {
  background-color: var(--footer-text-color);
  padding: 120px 0;
  margin: 0 auto;
}

.fourth-section .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.fourth-section-list-item {
  width: 264px;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourth-section-div {
  padding: 32px 16px;
  width: 100%;
}

.fourth-section-div .title-section-header {
  text-align: center;
  margin-bottom: 8px;
}

.fourth-section-div .paragraph {
  text-align: center;
}

.fourth-section-div .fourth-section-social-icons-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 20px 0 0 0;
}

.fourth-section-social-icons-list .fourth-section-icon-item {
  width: 40px;
  height: 40px;
}

.fourth-section-icon {
  width: 100%;
  height: 100%;
  background-color: var(--logo-web-button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-section-icon:hover,
.fourth-section-icon:focus {
  background-color: var(--button-color);
}

.svg-icon {
  fill: var(--footer-text-color);
}

.fifth-section {
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.fifth-section .title-section-header {
  margin-bottom: 0;
}

.fifth-section .container {
  width: 428px;
}

.fifth-section .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.fifth-section-icon {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-section-icon:hover,
.fifth-section-icon:focus {
  border-color: var(--button-color);
  color: var(--button-color);
}

.fifth-section-list-item {
  height: 88px;

  width: 190px;
  margin-top: 72px;
}

.fifth-section-list-item .svg-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--text-color);
  padding: 100px 0;
  display: block;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-container-logo {
  display: flex;
  flex-direction: column;
}

.footer-container-logo .logo {
  align-self: flex-end;
  padding: 0 0 20px 0;
}

.footer .logo-span {
  color: var(--footer-text-color);
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
}

.footer .footer-social-icon {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 20px 0 0 0;
}

.footer .fourth-section-icon {
  display: flex;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .fourth-section-icon:hover,
.footer .fourth-section-icon:focus {
  background-color: #31d0aa;
}

.footer .paragraph {
  max-width: 264px;
  color: var(--white-color);
}

.footer-icon {
  display: flex;
  justify-content: left;
  gap: 5px;
  width: 40px;
  height: 40px;
}

.footer-social-media .footer-social-media-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color) ff;
  margin-bottom: 16px;
}

.footer-social-icon {
  display: flex;
  gap: 16px;
  padding-left: 0px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
}

.subscribe-form {
  padding: 20px 0 0 0;
}

.subscribe-form .first-section-button {
  margin: 0 auto;
  margin-top: 10px;
}

.subscribe-label .subscribe-input {
  gap: 24px;

  width: 80vw;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-form .subscribe-input::placeholder {
  color: var(--white-color);
}

.subscribe-form .subscribe-input:focus {
  border: 1px solid var(--white-color);
  outline: none;
}

.subscribe-form .first-section-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
}

.subscribe-form .first-section-button .svg-icon {
  margin-left: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio-section .list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  flex-wrap: wrap;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-list-item {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 450px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.portfolio-list-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list .title-section-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-span-color);
  text-align: left;
  margin-bottom: 8px;
}

.button {
  background-color: var(--footer-text-color);
  color: var(--logo-web-button-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  border: 1px solid transparent;
  background-color: var(--button-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay-container .paragraph {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  background-color: var(--logo-web-button-color);
  width: 100%;
  height: 100%;
  color: var(--footer-text-color);
  opacity: 0.9;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item .link:hover .paragraph,
.portfolio-list-item .link:focus .paragraph {
  transform: translatey(0);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .header-div {
    width: 100%;

    justify-content: space-between;
    padding: 0 16px;
  }
  .header-nav {
    width: 60%;
  }
  .header-nav .list {
    display: flex;
  }

  .contact .list {
    display: block;
  }

  .second-section .paragraph {
    color: var(--contacts-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
  .second-section .list,
  .fourth-section .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .second-section .container {
    width: 100%;

    margin: 0 16px;
  }

  .second-section .list {
    gap: 23px;
    width: 769px;
  }

  .second-section .second-section-list-item {
    width: 356px;
    padding-top: 72px;
  }

  .second-section .second-section-list-item:nth-child(-n + 2) {
    padding-top: 0;
  }

  .second-section .second-section-header {
    color: var(--text-color);
    text-align: start;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .fourth-section .title-section-header,
  .fifth-section .title-section-header {
    color: var(--text-color);
    text-align: center;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .fourth-section {
    display: flex;
    justify-content: center;
  }
  .fourth-section .container {
    width: 768px;
  }

  .fourth-section .list {
    width: 100%;
    padding: 0 83px;
  }

  .fourth-section-list-item {
    width: 264px;
  }
  .fifth-section {
    padding: 96px 0;
    display: flex;
    justify-content: center;
  }
  .fifth-section .container {
    width: 768px;
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
  }
  .fifth-section .list {
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 36px;
  }
  .fifth-section .title-section-header {
    margin-bottom: 0;
  }
  .fifth-section-list-item {
    width: 168px;
    margin-top: 72px;
  }
  .subscribe-label .subscribe-input {
    max-width: 264px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    gap: 40px;
    padding: 0 108px;
  }
  .footer .footer-social-icon {
    padding: 20px 0 0 0;
  }

  .footer-subscribe .paragraph {
    align-self: flex-start;
  }

  .subscribe-form {
    display: flex;
    align-items: baseline;
    gap: 40px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-nav {
    width: 50%;
  }

  .header-nav .list {
    display: flex;
  }

  .contact .list {
    display: flex;

    justify-content: space-between;
  }
  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .second-section .list {
    display: flex;
    flex-direction: row;
  }
  .second-section .second-section-list-item,
  .fourth-section-list-item {
    width: calc((100% - 72px) / 4);
  }
  .third-section {
    display: block;
  }

  .fourth-section .list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
  }
  .fifth-section .title-section-header {
    margin-bottom: 0;
  }
  .fifth-section .container {
    width: 1158px;
  }
  .fifth-section .list {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .fifth-section-list-item {
    width: calc((100% - 120px) / 6);
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 0;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
    padding: 20px 0 0 0;
  }
  .subscribe-form .first-section-button {
    margin: 0 0;
  }
  .footer-container-logo,
  .footer-social-media {
    margin-right: 120px;
    display: block;
  }
  .footer-subscribe {
    display: block;
  }
  .footer .footer-social-icon {
    padding: 20px 0 0 0;
  }
  .footer .paragraph {
    margin-bottom: 16px;
  }
  .subscribe-label .subscribe-input {
    width: 264px;
  }
}

@media (max-width: 1199px) {
  .second-section .second-section-list-item .second-section-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-nav .list {
    display: none;
  }
  .header-div .contact {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgba(46, 47, 66, 1);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: rgba(46, 47, 66, 1);
  text-decoration: none;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
.mobile-menu .link:hover {
  color: rgba(64, 75, 191, 1);
}

.mobile-menu .nav-list-active {
  color: rgba(64, 75, 191, 1);
}

.menu-container .footer-social-icon {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  padding: 64px 10px;
}

.mobiledown .contact .list {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 40px;
}
.mobiledown .contact .list .list-contact {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
